body {
    background-color: #fff7ea;
    transition: background-color ease .2s;
}

h2 {
    color: #fe6337;
    transition: all ease .2s;
}

a {
    color: #fe6337;
    transition: all ease .2s;
}

.underscore {
    color: #fe6337;
    transition: all ease .2s;
}

body.dark {
    background-color: #505050;
    color: #ffffff;
}

body.dark h2 {
    color: #46fff7;
}

body.dark a {
    color: #46fff7;
}

body.dark .underscore {
    color: #46fff7;
}